In [1]:
import pandas as pd

In [ ]:
## Find the number of characters in column Col_Letter

In [10]:
chart = pd.read_csv("C:/Users/CyberPower_MarkR/Desktop/The Tech Academy/DataScienceCourse/Assignment5.csv")
chart.head()

   key Col_Letter  Col_Number
0    0      fsdaf         762
1    1      dfgsd        6745
2    2      nurms         164
3    3        utm        2745
4    4      leufs       12366

In [12]:
chart['charNumber'] = chart['Col_Letter'].str.len()
chart[['Col_Letter','charNumber']].head()

  Col_Letter  charNumber
0      fsdaf           5
1      dfgsd           5
2      nurms           5
3        utm           3
4      leufs           5